// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bigmain{
  text-align: center;
  margin: 20px;
}

.middlemain{
  text-align: center;
  margin: 10px;
}